= f.association :zone
= f.input :weight_range, as: :string, input_html: { name: 'zone_range_pricing[weight_range][0]' }
= f.input :weight_range, as: :string, input_html: { name: 'zone_range_pricing[weight_range][1]' }
= f.input :price
