default: &default
    adapter: postgresql
    encoding: unicode
    pool: 5

development:
  <<: *default
  database: nworld_development

test:
  <<: *default
  database: nworld_test

production:
  <<: *default
  database: nworld_production
  username: nworld
  password: <%= ENV['DATABASE_PASSWORD'] %>
